/*------------------------------------------------------------
  Global Variables:
------------------------------------------------------------*/

:root {
  --font-family-one: "Major Mono Display", monospace;
  --font-family-two: "Share Tech Mono", monospace;
  --white: white;
  --black: black;
  --dodgerblue: dodgerblue;
  --yellow: yellow;
  --cyan: cyan;
  --gray: gray;
  --aqua: aqua;
  --dark: #040303;
  --shade-one: #121212;
}

/*--------------------------------------------------------------
  General:
--------------------------------------------------------------*/

body {
  font-family: var(--font-family-two);
  background-color: var(--black);
  color: var(--white);
  position: relative;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  background: var(--black) url("../img/background-hex-pattern.jpg") top right
    no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  color: var(--cyan);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-one);
}

h3 span {
  color: var(--yellow);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}

#header * {
  transition: ease-in-out 0.3s;
}

#header h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: var(--font-family-one);
}

#header h1 a,
#header h1 a:hover {
  color: var(--dodgerblue);
  line-height: 1;
  display: inline-block;
}

#header h2 {
  font-size: 24px;
  margin-top: 20px;
  color: var(--dodgerblue);
}

#header h2 span {
  color: var(--yellow);
  border-bottom: 2px solid var(--dodgerblue);
  padding-bottom: 6px;
}

#header img {
  padding: 0;
  margin: 0;
}

#header .social-links {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
}

#header .social-links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: var(--white);
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#header .social-links a:hover {
  background: var(--cyan);
}

@media (max-width: 992px) {
  #header h1 {
    font-size: 36px;
  }

  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }

  #header .social-links {
    margin-top: 15px;
    margin-bottom: 45px;
  }

  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
}

/* Header Top */

#header.header-top {
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
}

#header.header-top .social-links,
#header.header-top h2,
#header.header-top .phone-image {
  display: none;
}

#header.header-top h1 {
  margin-right: auto;
  font-size: 36px;
}

#header.header-top .container {
  display: flex;
  align-items: center;
}

#header.header-top .navbar {
  margin: 0;
}

@media (max-width: 768px) {
  #header.header-top {
    height: 60px;
  }

  #header.header-top h1 {
    font-size: 26px;
  }
}

.phone-image {
  width: 110px;
  margin: 0 auto;
  display: flex;
}

.phone-image img {
  max-width: 100px;
  height: auto;
}

@media (max-width: 800px) {
  .flex-item-right,
  .flex-item-left {
    flex: 100%;
  }

  .container,
  .phone-image {
    justify-content: center;
    text-align: center;
  }

  #header {
    flex-wrap: wrap;
  }
}

/*------------------------------------------------------------
  Glitch:
------------------------------------------------------------*/

.glitch-wrapper {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.glitch {
  color: var(--aqua);
  position: relative;
  display: inline-block;
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
.glitch::before {
  left: 2px;
  text-shadow: -2px 0 var(--cyan);
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: -2px;
  text-shadow: -2px 0 var(--yellow);
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 2.5s infinite linear alternate-reverse;
}
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(30px, 9999px, 74px, 0);
  }
  4.166666666666666% {
    clip: rect(39px, 9999px, 69px, 0);
  }
  8.333333333333332% {
    clip: rect(18px, 9999px, 44px, 0);
  }
  12.5% {
    clip: rect(9px, 9999px, 124px, 0);
  }
  16.666666666666664% {
    clip: rect(67px, 9999px, 111px, 0);
  }
  20.833333333333336% {
    clip: rect(145px, 9999px, 131px, 0);
  }
  25% {
    clip: rect(143px, 9999px, 147px, 0);
  }
  29.166666666666668% {
    clip: rect(14px, 9999px, 114px, 0);
  }
  33.33333333333333% {
    clip: rect(76px, 9999px, 115px, 0);
  }
  37.5% {
    clip: rect(21px, 9999px, 92px, 0);
  }
  41.66666666666667% {
    clip: rect(36px, 9999px, 127px, 0);
  }
  45.83333333333333% {
    clip: rect(77px, 9999px, 75px, 0);
  }
  50% {
    clip: rect(117px, 9999px, 33px, 0);
  }
  54.166666666666664% {
    clip: rect(95px, 9999px, 3px, 0);
  }
  58.333333333333336% {
    clip: rect(89px, 9999px, 64px, 0);
  }
  62.5% {
    clip: rect(88px, 9999px, 15px, 0);
  }
  66.66666666666666% {
    clip: rect(72px, 9999px, 73px, 0);
  }
  70.83333333333334% {
    clip: rect(40px, 9999px, 148px, 0);
  }
  75% {
    clip: rect(95px, 9999px, 50px, 0);
  }
  79.16666666666666% {
    clip: rect(13px, 9999px, 71px, 0);
  }
  83.33333333333334% {
    clip: rect(136px, 9999px, 30px, 0);
  }
  87.5% {
    clip: rect(82px, 9999px, 61px, 0);
  }
  91.66666666666666% {
    clip: rect(49px, 9999px, 21px, 0);
  }
  95.83333333333334% {
    clip: rect(106px, 9999px, 37px, 0);
  }
  100% {
    clip: rect(130px, 9999px, 93px, 0);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(30px, 9999px, 74px, 0);
  }
  4.166666666666666% {
    clip: rect(39px, 9999px, 69px, 0);
  }
  8.333333333333332% {
    clip: rect(18px, 9999px, 44px, 0);
  }
  12.5% {
    clip: rect(9px, 9999px, 124px, 0);
  }
  16.666666666666664% {
    clip: rect(67px, 9999px, 111px, 0);
  }
  20.833333333333336% {
    clip: rect(145px, 9999px, 131px, 0);
  }
  25% {
    clip: rect(143px, 9999px, 147px, 0);
  }
  29.166666666666668% {
    clip: rect(14px, 9999px, 114px, 0);
  }
  33.33333333333333% {
    clip: rect(76px, 9999px, 115px, 0);
  }
  37.5% {
    clip: rect(21px, 9999px, 92px, 0);
  }
  41.66666666666667% {
    clip: rect(36px, 9999px, 127px, 0);
  }
  45.83333333333333% {
    clip: rect(77px, 9999px, 75px, 0);
  }
  50% {
    clip: rect(117px, 9999px, 33px, 0);
  }
  54.166666666666664% {
    clip: rect(95px, 9999px, 3px, 0);
  }
  58.333333333333336% {
    clip: rect(89px, 9999px, 64px, 0);
  }
  62.5% {
    clip: rect(88px, 9999px, 15px, 0);
  }
  66.66666666666666% {
    clip: rect(72px, 9999px, 73px, 0);
  }
  70.83333333333334% {
    clip: rect(40px, 9999px, 148px, 0);
  }
  75% {
    clip: rect(95px, 9999px, 50px, 0);
  }
  79.16666666666666% {
    clip: rect(13px, 9999px, 71px, 0);
  }
  83.33333333333334% {
    clip: rect(136px, 9999px, 30px, 0);
  }
  87.5% {
    clip: rect(82px, 9999px, 61px, 0);
  }
  91.66666666666666% {
    clip: rect(49px, 9999px, 21px, 0);
  }
  95.83333333333334% {
    clip: rect(106px, 9999px, 37px, 0);
  }
  100% {
    clip: rect(130px, 9999px, 93px, 0);
  }
}
@-webkit-keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(15px, 9999px, 71px, 0);
  }
  10% {
    clip: rect(45px, 9999px, 141px, 0);
  }
  13.333333333333334% {
    clip: rect(50px, 9999px, 112px, 0);
  }
  16.666666666666664% {
    clip: rect(136px, 9999px, 57px, 0);
  }
  20% {
    clip: rect(55px, 9999px, 73px, 0);
  }
  23.333333333333332% {
    clip: rect(9px, 9999px, 139px, 0);
  }
  26.666666666666668% {
    clip: rect(147px, 9999px, 9px, 0);
  }
  30% {
    clip: rect(149px, 9999px, 34px, 0);
  }
  33.33333333333333% {
    clip: rect(90px, 9999px, 54px, 0);
  }
  36.666666666666664% {
    clip: rect(28px, 9999px, 112px, 0);
  }
  40% {
    clip: rect(46px, 9999px, 71px, 0);
  }
  43.333333333333336% {
    clip: rect(54px, 9999px, 27px, 0);
  }
  46.666666666666664% {
    clip: rect(29px, 9999px, 140px, 0);
  }
  50% {
    clip: rect(131px, 9999px, 133px, 0);
  }
  53.333333333333336% {
    clip: rect(100px, 9999px, 85px, 0);
  }
  56.666666666666664% {
    clip: rect(30px, 9999px, 80px, 0);
  }
  60% {
    clip: rect(116px, 9999px, 74px, 0);
  }
  63.33333333333333% {
    clip: rect(107px, 9999px, 148px, 0);
  }
  66.66666666666666% {
    clip: rect(68px, 9999px, 73px, 0);
  }
  70% {
    clip: rect(54px, 9999px, 17px, 0);
  }
  73.33333333333333% {
    clip: rect(58px, 9999px, 8px, 0);
  }
  76.66666666666667% {
    clip: rect(17px, 9999px, 92px, 0);
  }
  80% {
    clip: rect(79px, 9999px, 133px, 0);
  }
  83.33333333333334% {
    clip: rect(52px, 9999px, 135px, 0);
  }
  86.66666666666667% {
    clip: rect(133px, 9999px, 147px, 0);
  }
  90% {
    clip: rect(53px, 9999px, 27px, 0);
  }
  93.33333333333333% {
    clip: rect(3px, 9999px, 50px, 0);
  }
  96.66666666666667% {
    clip: rect(130px, 9999px, 142px, 0);
  }
  100% {
    clip: rect(22px, 9999px, 83px, 0);
  }
}
@keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(15px, 9999px, 71px, 0);
  }
  10% {
    clip: rect(45px, 9999px, 141px, 0);
  }
  13.333333333333334% {
    clip: rect(50px, 9999px, 112px, 0);
  }
  16.666666666666664% {
    clip: rect(136px, 9999px, 57px, 0);
  }
  20% {
    clip: rect(55px, 9999px, 73px, 0);
  }
  23.333333333333332% {
    clip: rect(9px, 9999px, 139px, 0);
  }
  26.666666666666668% {
    clip: rect(147px, 9999px, 9px, 0);
  }
  30% {
    clip: rect(149px, 9999px, 34px, 0);
  }
  33.33333333333333% {
    clip: rect(90px, 9999px, 54px, 0);
  }
  36.666666666666664% {
    clip: rect(28px, 9999px, 112px, 0);
  }
  40% {
    clip: rect(46px, 9999px, 71px, 0);
  }
  43.333333333333336% {
    clip: rect(54px, 9999px, 27px, 0);
  }
  46.666666666666664% {
    clip: rect(29px, 9999px, 140px, 0);
  }
  50% {
    clip: rect(131px, 9999px, 133px, 0);
  }
  53.333333333333336% {
    clip: rect(100px, 9999px, 85px, 0);
  }
  56.666666666666664% {
    clip: rect(30px, 9999px, 80px, 0);
  }
  60% {
    clip: rect(116px, 9999px, 74px, 0);
  }
  63.33333333333333% {
    clip: rect(107px, 9999px, 148px, 0);
  }
  66.66666666666666% {
    clip: rect(68px, 9999px, 73px, 0);
  }
  70% {
    clip: rect(54px, 9999px, 17px, 0);
  }
  73.33333333333333% {
    clip: rect(58px, 9999px, 8px, 0);
  }
  76.66666666666667% {
    clip: rect(17px, 9999px, 92px, 0);
  }
  80% {
    clip: rect(79px, 9999px, 133px, 0);
  }
  83.33333333333334% {
    clip: rect(52px, 9999px, 135px, 0);
  }
  86.66666666666667% {
    clip: rect(133px, 9999px, 147px, 0);
  }
  90% {
    clip: rect(53px, 9999px, 27px, 0);
  }
  93.33333333333333% {
    clip: rect(3px, 9999px, 50px, 0);
  }
  96.66666666666667% {
    clip: rect(130px, 9999px, 142px, 0);
  }
  100% {
    clip: rect(22px, 9999px, 83px, 0);
  }
}

/*--------------------------------------------------------------
  Navbar:
--------------------------------------------------------------*/

/**
* Desktop/Laptop Navbar:
*/

.navbar {
  padding: 0;
  margin-top: 35px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar li + li {
  margin-left: 30px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-family: var(--font-family-two);
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--cyan);
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: var(--cyan);
}

/**
* Mobile/Tablet Navbar:
*/

.mobile-nav-toggle {
  color: var(--white);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  position: fixed;
  right: 15px;
  top: 15px;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
  margin-top: 0;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 160px;
  bottom: 45px;
  left: 15px;
  padding: 10px 0;
  overflow-y: auto;
  transition: 0.3s;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.navbar-mobile li {
  padding: 12px 20px;
}

.navbar-mobile li + li {
  margin: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  font-size: 16px;
  position: relative;
}

/*--------------------------------------------------------------
  Sections General:
--------------------------------------------------------------*/

section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
  transition: ease-in-out 0.4s;
  z-index: 2;
}

section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
}

section .container {
  background: rgba(0, 0, 0, 0.9);
  padding: 30px;
}

@media (max-width: 768px) {
  section {
    top: 120px;
  }

  section.section-show {
    top: 80px;
  }
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--cyan);
  font-family: var(--font-family-one);
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--dodgerblue);
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--font-family-two);
  color: var(--white);
}

/*--------------------------------------------------------------
  About:
--------------------------------------------------------------*/

.about-me .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: var(--dodgerblue);
}

.about-me .content ul {
  list-style: none;
  padding: 0;
}

.about-me .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about-me .content ul strong {
  margin-right: 10px;
}

.about-me .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--cyan);
  line-height: 0;
}

.about-me .content p:last-child {
  margin-bottom: 0;
}

#personal-image {
  max-width: 70%;
  height: auto;
  margin-top: 5px;
}

@media (max-width: 425px) {
  #personal-image {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  #personal-image {
    max-width: 100%;
  }
}

/*--------------------------------------------------------------
  Counts:
--------------------------------------------------------------*/

.counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: rgba(255, 255, 255, 0.08);
}

.counts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px;
  color: var(--cyan);
  border-radius: 50px;
  line-height: 0;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: var(--white);
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-two);
  font-size: 14px;
}

/*--------------------------------------------------------------
  Skills:
--------------------------------------------------------------*/

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: var(--font-family-one);
  color: var(--white);
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: rgba(255, 255, 255, 0.2);
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: var(--cyan);
}

/*--------------------------------------------------------------
  Interests:
--------------------------------------------------------------*/

.interests .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.08);
  transition: ease-in-out 0.3s;
}

.interests .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.interests .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  color: var(--white);
}

.interests .icon-box:hover {
  background: rgba(255, 255, 255, 0.12);
}

/*--------------------------------------------------------------
  Resume:
--------------------------------------------------------------*/

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--white);
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--font-family-two);
  color: var(--cyan);
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--dodgerblue);
  border: 2px solid var(--cyan);
}

.resume button:hover {
  background: var(--dodgerblue);
}

/*--------------------------------------------------------------
  Education:
--------------------------------------------------------------*/

.educational-objectives .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: var(--dodgerblue);
}

.educational-objectives .content ul {
  list-style: none;
  padding: 0;
}

.educational-objectives .content ul li {
  margin-bottom: 20px;
  display: flex;
}

.educational-objectives .content ul strong {
  margin-right: 10px;
  color: var(--cyan);
}

.educational-objectives .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--cyan);
  line-height: 0;
}

.educational-objectives .content p:last-child {
  margin-bottom: 0;
}

#second-row-margin {
  margin-top: 30px;
}

#education-images {
  max-width: 100%;
  height: auto;
  margin-top: 5px;
}

.btn-watch-video {
  font-size: 16px;
  transition: 0.5s;
  margin-top: 24px;
  color: var(--white);
  font-weight: 500;
}

.btn-watch-video i {
  color: var(--white);
  font-size: 32px;
  transition: 0.3s;
  line-height: 0;
  margin-right: 8px;
}

.btn-watch-video:hover {
  color: var(--cyan);
  text-shadow: 0 0 10px var(--cyan);
}

.btn-watch-video:hover i {
  color: var(--cyan);
  text-shadow: 0 0 10px var(--cyan);
}

@media (max-width: 425px) {
  #education-images {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  #education-images {
    max-width: 100%;
  }
}

/*--------------------------------------------------------------
  Portfolio:
--------------------------------------------------------------*/

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 15px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: var(--white);
  background: rgba(255, 255, 255, 0.1);
  margin: 0 3px 10px 3px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background: var(--cyan);
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid var(--white);
  border-left: 3px solid var(--white);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid var(--white);
  border-right: 3px solid var(--white);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: var(--white);
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: var(--white);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: var(--white);
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: var(--cyan);
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
  Contact:
--------------------------------------------------------------*/

.contact .info-box {
  color: var(--gray);
  padding: 20px;
  width: 100%;
  background: rgba(255, 255, 255, 0.08);
}

.contact .info-box i.bx {
  font-size: 24px;
  color: var(--cyan);
  border-radius: 50%;
  padding: 14px;
  float: left;
  background: rgba(255, 255, 255, 0.1);
}

.contact .info-box h3 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  margin: 10px 0 8px 68px;
}

.contact .info-box p {
  padding: 0;
  color: var(--white);
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;
}

.contact .info-box .social-links {
  margin: 5px 0 0 68px;
  display: flex;
}

.contact .info-box .social-links a {
  font-size: 18px;
  display: inline-block;
  color: var(--white);
  line-height: 1;
  margin-right: 12px;
  transition: 0.3s;
}

.contact .info-box .social-links a:hover {
  color: var(--cyan);
}

.contact .email-form {
  padding: 30px;
  background: rgba(255, 255, 255, 0.08);
}

.contact .email-form input,
.contact .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.08);
  border: 0;
  transition: 0.3s;
  color: var(--white);
}

.contact .email-form input:focus,
.contact .email-form textarea:focus {
  background-color: rgba(255, 255, 255, 0.11);
}

.contact .email-form input::-moz-placeholder,
.contact .email-form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .email-form input::placeholder,
.contact .email-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .email-form input {
  padding: 10px 15px;
}

.contact .email-form textarea {
  padding: 12px 15px;
}

.contact .email-form button[type="submit"] {
  padding: 10px 30px;
  color: var(--black);
  transition: 0.4s;
  border-radius: 4px;
}

.contact .email-form button[type="submit"]:hover {
  background: var(--dodgerblue);
}

#calendar-container {
  margin-top: 30px;
  padding: 10px;
  border: 4px solid var(--gray);
  border-style: inset;
}

/*------------------------------------------------------------
  3D Button:
------------------------------------------------------------*/

.button-3d {
  position: relative;
  width: auto;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  border: solid 2px var(--black);
  background: var(--cyan);
  text-align: center;
  padding: 16px 18px 14px;
  margin: 12px;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  -webkit-box-shadow: 0px 6px 0px var(--dodgerblue);
  -moz-box-shadow: 0px 6px 0px var(--dodgerblue);
  box-shadow: 0px 6px 0px var(--dodgerblue);
}

.button-3d:active {
  -webkit-box-shadow: 0px 2px 0px var(--dodgerblue);
  -moz-box-shadow: 0px 2px 0px var(--dodgerblue);
  box-shadow: 0px 2px 0px var(--dodgerblue);
  position: relative;
  top: 4px;
}

/*------------------------------------------------------------
  Footer:
------------------------------------------------------------*/

footer {
  display: block;
  background-color: var(--dark);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

.footer-social {
  background-color: var(--shade-one);
  float: right;
  padding: 10px;
  color: var(--aqua);
  background: var(--shade-one);
  margin-top: -16px;
  position: relative;
  border: 1px solid;
  border-color: var(--black);
}
.footer-social label {
  font-size: 15px;
  margin-right: 10px;
  color: var(--aqua);
}

.footer-social:after {
  border-right: 8px solid var(--aqua);
  border-top: 15px solid transparent;
  content: "";
  display: block;
  height: 0;
  left: -8px;
  position: absolute;
  top: 0;
}
